$theme-colors: (
    "primary": rgb(0, 189, 170),
    "secondary" : rgb(254, 52, 110),
    "tertiary" : rgb(0, 0, 238),
    "dark" : #1b212c
);

$font-weight-bold:            510;
$border-radius:               .75rem;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
  }
.navbar-brand {
    font-size: 1.7em;
    font-weight: 700;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}